.main-wrapper {
  height: 100%;
}

.main-wrapper .date-container:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 300;
  height: 70px;
}

.days-of-week-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.current-month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
  height: 100%;
}

.arrow {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  transition: all 0.2s;
}

.arrow-up {
  background: url(../../images/arrow.png) no-repeat center rgb(228, 228, 228);
  background-size: contain;
}

.arrow-down {
  background: url(../../images/arrow.png) no-repeat center rgb(228, 228, 228);
  background-size: contain;
  transform: rotate(180deg);
}

.arrow:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
  background-color: rgb(255, 255, 255);
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
