.main-wrapper .date-container:nth-child(2) {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day {
  font-size: 1.8rem;
}

.numbers:hover {
  outline: 3px solid #666;
}
