* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  color: #fff;
}

.calendar-wrapper {
  width: 500px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
}